/*------------------------------------------------------STUDENT ACCOUNT PAGE------------------------------------------------------------*/


.account_container { /*The class name in div ("account-info-container") */
    display: grid; /*Using grid method in "display" which adds grids to the elements  within the form tag in, which is used to organise the container in coloumns */
    grid-template-columns: repeat(1, 1fr); /*Adding "grid-template-columns" to lay out the elements in columns where 2 containers are added in 1 space before moving to next line of the page and each coloumns gets 1 equal space ("repeat(2, 1fr)", whee fr stands for "fraction"*/
    gap: 50px; /*Adding "gap" of 50 pixels in adding space when adding container in the new line*/
}


.save-jobs{ /*The class name in div ("account-info-container") which styles div tags */
    border: 10px solid black; /*Adding border of 10 pixels around the elements  with solid type which is coloured as black  */
    border-radius: 10px; /*Adding "border-radius" of 10 pixels which means that it makes the corner curved by 10 pixels  */
}



.link{ /*The class name in div ("link") */
    position: relative; /*Adding position of "relative" which allows the elements to be moved in to specific position based in the direction it has been given */
    left: 730px; /*Moving the link to left side by 730 pixels */
    font-size: 20px; /*Setting the font size of the link to 20 pxiels */
}

.read-info-btn{
    background-color: blue; /*Setting the background colour to  blue */
    color: #ffff; /*Setting the background colour to  white */
    border: 1px solid black; /*Adding border of 10 pixels around the elements  with solid type which is coloured as black  */
    border-radius: 5px; /*Adding "border-radius" of 10 pixels which means that it makes the corner curved by 10 pixels  */
    width: 128px; /*Setting the width to 330 pixels  */
    height: 68px; /*Setting the height to 82 pixels*/
    cursor: pointer; /*Adding a pointer to the cursor once it has been landed to the "SUBMIT" button*/
}

.deleteBtn{
    position: relative;
    top: -10px;
    background-color: red; /*Setting the background colour to  blue */
    color: #ffff; /*Setting the background colour to  white */
    border: 1px solid black; /*Adding border of 10 pixels around the elements  with solid type which is coloured as black  */
    border-radius: 5px; /*Adding "border-radius" of 10 pixels which means that it makes the corner curved by 10 pixels  */
    cursor: pointer; /*Adding a pointer to the cursor once it has been landed to the "SUBMIT" button*/ 
    width: 128px;
    height: 68px;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------STAFF ACCOUNT PAGE------------------------------------------------------------*/
.staff_account_container{
    display: grid; /*Using grid method in "display" which adds grids to the elements  within the form tag in, which is used to organise the container in coloumns */
    grid-template-columns: repeat(1, 1fr); /*Adding "grid-template-columns" to lay out the elements in columns where 2 containers are added in 1 space before moving to next line of the page and each coloumns gets 1 equal space ("repeat(2, 1fr)", whee fr stands for "fraction"*/
    gap: 50px; /*Adding "gap" of 50 pixels in adding space when adding container in the new line*/
}

.job-posts{
    border: 10px solid black;
    border-radius: 10px;
    width: 100%;
}
.removeButton{
    background-color: red;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 128px;
    height: 68px;
}

.removeButton:hover{
    background-color: white;
    color: red;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
